ul.legend li {
    display: block;
    padding: 2px;
}

ul.legend li > div {
    color: #FFF;
    padding: 5px;
    width: 15   0px;
    height: 30px;
}

.card-content {
    color: #FFF;
}

.epc {
    background-color: #3AA8E3;
}

.it {
    background-color: #5567C1;
}

.finance {
    background-color: #428B09;
}

.admin {
    background-color: #5BC0DE;
}

.kra {
    background-color: #EE4256;
}

.trsbmitforapproval {
    background-color:darkolivegreen;
}

.krareview {
    background-color: crimson;
}

.krarejected {
    background-color: goldenrod;
}

.kraapprove {
    background-color: mediumseagreen;
}

.pa {
    background-color: brown;
}


/*IT
EPC
Finance
Admin
PA
KRA
TRSbmitForApproval
KRAReview
TRSbmitForApproval
KRARejected
KRAApprove*/

table {
    width: 100%;
}

#notes {
    @apply(--layout-vertical);
    @apply(--layout-wrap);
    height: 344px;
    width: 384px;
}

#notes > paper-card {
    box-sizing: border-box;
    max-width: 184px;
    margin: 4px;
    flex: 0 0 auto;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px;
    display: inline-block;
}